.articles {
	article {
		border-bottom: 1px solid $colour-background-secondary;
		margin-bottom: 25px;
		overflow: hidden;

		.article-meta {
			color: rgb(204, 204, 204);
			font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-size: em(11.07);
			font-weight: normal;
			letter-spacing: 1.1px;
			text-transform: uppercase;
		}

		.image {
			float: left;
			height: 255px;
			margin: 0 25px 25px 0;
			width: 360px;
		}

		h1 {
			@extend .h2;
		}

		header {
			margin-bottom: 1.625em;
		}

		.entry {
			margin-bottom: 25px;
		}
	}
}

.article {
	article {
		header {
			.article-meta {
				color: $colour-tertiary;
				font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
				font-size: em(16);
				font-weight: normal;
				letter-spacing: 1.6px;
				text-transform: uppercase;
			}

			h1 {
				letter-spacing: 0.1em;
				margin-top: 0;
			}
		}

		#articleExcerpt {
			font-family: Georgia, 'Times New Roman', Times, serif;
			font-size: em(20);
			font-style: italic;
			line-height: em(28);

			&:after {
				content: "";
				height: 3px;
				width: 4em;
				margin-top: 1.300em;
				display: block;
				background: #c08826;
			}
		}
	}
}

.featured {
	margin-bottom: 25px;
	padding: 15px 25px;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: #f6f6f6;
		z-index: -2;
	}

	.section-header {
		.section-title {
			background: #f6f6f6;
		}
	}
}

.section-header {
	color: rgb(42, 42, 42);
	overflow: hidden;
	margin-bottom: 1.5em;
	position: relative;
	text-align: center;

	.section-title {
		background: #fff;
		display: inline-block;
		font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 1.5em;
		font-weight: normal;
		letter-spacing: 0.1em;
		margin: 0 3% 1em;
		padding: 0 3%;
		text-transform: uppercase;
		-webkit-font-smoothing: antialiased;

		&:before {
			border-top: 1px solid #e6e6e6;
			border-bottom: 1px solid #e6e6e6;
			content: "";
			height: 6px;
			left: 0;
			position: absolute;
			top: .6em;
			width: 100%;
			z-index: -1;
		}

		&:after {
			content: "";
			position: relative;
			top: 0.4em;
			height: 3px;
			width: 2.500em;
			margin: 0 auto;
			display: block;
			background: #c08826;
			z-index: -1;
		}
	}
}

.article-submission {
	@include span-columns(6);
}

.article-preview {
	@include span-columns(6);
}
