body {
	background: $colour-background-primary;
	margin-bottom: 50px;
}

#nav {
	background: $colour-background-secondary;

	.menu {
		@include outer-container();
	}
}

#main {
	margin-top: 50px;

	.content {
		@include outer-container();

		.content-area {
			@include span-columns(9);
		}

		.sidebar {
			@include span-columns(3);
		}
	}
}

.container {
	@include outer-container();

	position: relative;
}
