a {
	img {
		@include transition(all, 0.33s, ease-in-out);

		filter: grayscale(0%);
		-webkit-filter: grayscale(0%);

		&:hover {
			filter: grayscale(100%);
			transform: scale(1.05);
			-webkit-filter: grayscale(100%);
		}
	}
}

.image {
	overflow: hidden;
}